	<app-sabw-caesar></app-sabw-caesar>
  
  <h1><u>Bullet Journal</u></h1>
		<h2>Was ist ein Bullet Journal?</h2>
		<p>Ein Bullet Journal kann so gut wie alles für dich sein. Die Formen eines Tagebuchs, eines Malbuchs und eines Kalenders lassen sich darin vereinigen.</p>
		<h2>Das System</h2>
		<p>Allgemein ist ein Bullet Journal aufgebaut aus:</p>
		<ul>
			<li id="ulf"><em>Future Log</em></li>
			<li id="ulf"><em>Monthly Log</em></li>
			<li id="ulf"><em>Weekly Log</em></li>
			<li id="ulf"><em>Daily Log</em></li>
		</ul>
    <img id="scheibe" src="https://pasoma.de/sabw/scheibegross.png"/>
